# ANALYZING DATA  ---> Scrutinizing  the data 

in this phase we have :                 
    1.Viewing Data                     
    2.Info about Data                          
    3.Data Munging                        
    4.Data Filtering                        
    5.Data Merging                  
    6.Data Reshaping                      
    7.Data Aggregation                     
    8.Data Grouping

# VIEWING DATA           
----> View the format or Structure of Data Frame.      
operation we perform here are:      
describe()         
head()      
tail()

In [32]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
x=df.describe()
print("\n")
print(x)
print("\n")
y=df.head()
print(y)# by deafault it takes first 5 records
print("\n")
z=df.tail()
print(z)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


           S.NO      ROLL NO       SUB1       SUB2      RESULT
count  5.000000     5.000000   5.000000   5.000000    5.000000
mean   3.000000  1003.000000  44.000000  54.000000   98.000000
std    1.581139     1.581139   8.944272  23.021729   29.495762
min    1.000000  1001.000000  30.000000  20.000000   50.000000
25%    2.000000  1002.000000  40.000000  50.000000  100.000000
50%    3.000000  1003.000000  50.000000  50.000000  100.000000
75%    4.000000  1004.000000  50.000000  70.000000  110.000000
max    5.000000  1005.000000  50.000000  80.000000  130.000000


   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     5 non-null      int64
 1   ROLL NO  5 non-null      int64
 2   NAME     5 non-null      object
 3   SUB1     5 non-null      int64
 4   SUB2     5 non-null      int64
 5   Grades   5 non-null      object
 6   RESULT   5 non-null      int64
dtypes: int64(5), object(2)
memory usage: 408.0+ bytes

# DATA MUNGING              
----> It is a process of Gathering all information regards Data Set.That is Collection of Data Set for Transforming Raw Data to another Format for performing better Operations & Easy to understand."DATA MUNGING is also known as DATA WRANGLING."

# DATA FILTERING   
   ---->It is a Process of getting Required Information from Dataset is known as Filtering.
         and in this method we can't perform operations correclty.

In [10]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print("----------APPLYING FILTERING------------------------------")
X=df['RESULT']>=100
print(X)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


----------APPLYING FILTERING------------------------------
0     True
1    False
2     True
3     True
4     True
Name: RESULT, dtype: bool

In [13]:
# after copying the data we can go with filtering.
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print("----------APPLYING FILTERING------------------------------")
print("\n")
X=df[df['RESULT']>=100].copy()
print(X) 
print("\n")
print("-------------copying to another to perform filtering------------")
print("\n")
y=df[df['RESULT']<=50].copy()
print(y)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


----------APPLYING FILTERING------------------------------


   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


-------------copying to another to perform filtering------------


   S.NO  ROLL NO NAME  SUB1  SUB2 Grades  RESULT
1     2     1002  RAM    30    20      C      50

# DATA MERGING   
  ---->It is a process of Combining 2 datasets into a single dataset.       
        here we use the method:            
            merge(DataFrame1,DataFrame2,on="field")               
            # field nothing but id-- index

In [30]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'STUDY':pd.Series(['BTECH','MTECH','MBA','MCA','DIP'])}
DF=pd.DataFrame(ds)
print(DF)
print("\n")
print("-----------data merging----------------------------")
print("\n")
ds1={'S.NO':pd.Series([1,2,3,4,5]),
    'NAME':pd.Series(['Sri','NANI','MADHU','CHANDHU','NANDHU']),
    'STUDY':pd.Series(['CEO','CSO','CGO','CTO','CLO'])}
df1=pd.DataFrame(ds1)
print(df1)
print("\n")
print("-----------data merging-OPERATION--------------------------")
print("\n")
print(pd.merge(DF,df1,on='S.NO'))

   S.NO   NAME  STUDY
0     1  MYTHS  BTECH
1     2    RAM  MTECH
2     3   SITA    MBA
3     4  RUSHI    MCA
4     5    DEV    DIP


-----------data merging----------------------------


   S.NO     NAME STUDY
0     1      Sri   CEO
1     2     NANI   CSO
2     3    MADHU   CGO
3     4  CHANDHU   CTO
4     5   NANDHU   CLO


-----------data merging-OPERATION--------------------------


   S.NO NAME_x STUDY_x   NAME_y STUDY_y
0     1  MYTHS   BTECH      Sri     CEO
1     2    RAM   MTECH     NANI     CSO
2     3   SITA     MBA    MADHU     CGO
3     4  RUSHI     MCA  CHANDHU     CTO
4     5    DEV     DIP   NANDHU     CLO

# DATA RESHAPING         
  ------>Data reshaping is restructuring a datasets layout to better suit analysis, often involving changes in rows, columns, and summarization.   
   ---->the reshaping process is being done using the melt() function.       
------> Pandas provides methods like `melt()` for unpivoting and `pivot_table()` for pivoting, enabling efficient data reshaping in Python.

In [33]:
import pandas as pd

ds = {
    'S.NO': pd.Series([1, 2, 3, 4, 5]),
    'ROLL NO': pd.Series([1001, 1002, 1003, 1004, 1005]),
    'NAME': pd.Series(['MYTHS', 'RAM', 'SITA', 'RUSHI', 'DEV']),
    'SUB1': pd.Series([50, 30, 40, 50, 50]),
    'SUB2': pd.Series([50, 20, 70, 80, 50]),
    'Grades': pd.Series(['B', 'C', 'A', 'A+', 'B'])
}
df = pd.DataFrame(ds)
df['RESULT'] = df['SUB1'] + df['SUB2']
print(df)
print("\n")
print("----------------------performing reshaping-------------------------")
print("\n")
# Pivot the DataFrame to reshape it
reshaped_df = df.melt(id_vars=['S.NO', 'ROLL NO', 'NAME', 'Grades', 'RESULT'], 
                      value_vars=['SUB1', 'SUB2'], 
                      var_name='Subject', 
                      value_name='Score')

print(reshaped_df)
# here in this reshaping

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


----------------------performing reshaping-------------------------


   S.NO  ROLL NO   NAME Grades  RESULT Subject  Score
0     1     1001  MYTHS      B     100    SUB1     50
1     2     1002    RAM      C      50    SUB1     30
2     3     1003   SITA      A     110    SUB1     40
3     4     1004  RUSHI     A+     130    SUB1     50
4     5     1005    DEV      B     100    SUB1     50
5     1     1001  MYTHS      B     100    SUB2     50
6     2     1002    RAM      C      50    SUB2     20
7     3     1003   SITA      A     110    SUB2     70
8     4     1004  RUSHI     A+     130    SUB2     80
9     5     1005    DEV      B     100    SUB2     50

In [35]:
import pandas as pd

ds = {
    'S.NO': pd.Series([1, 2, 3, 4, 5]),
    'ROLL NO': pd.Series([1001, 1002, 1003, 1004, 1005]),
    'NAME': pd.Series(['MYTHS', 'RAM', 'SITA', 'RUSHI', 'DEV']),
    'SUB1': pd.Series([50, 30, 40, 50, 50]),
    'SUB2': pd.Series([50, 20, 70, 80, 50]),
    'Grades': pd.Series(['B', 'C', 'A', 'A+', 'B'])
}
df = pd.DataFrame(ds)
df['RESULT'] = df['SUB1'] + df['SUB2']
print(df)
print("\n")
print("----------------------performing reshaping-------------------------")
print("\n")
reshaped_df = df.melt(id_vars=['S.NO', 'ROLL NO', 'NAME', 'Grades', 'RESULT'],
                      value_vars=['SUB1', 'SUB2'],
                      var_name='Subject',
                      value_name='Score')

# Reset the index to start from 0
reshaped_df = reshaped_df.reset_index(drop=True)

print(reshaped_df)
#This code snippet will produce the reshaped DataFrame with a continuous index starting from 0

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


----------------------performing reshaping-------------------------


   S.NO  ROLL NO   NAME Grades  RESULT Subject  Score
0     1     1001  MYTHS      B     100    SUB1     50
1     2     1002    RAM      C      50    SUB1     30
2     3     1003   SITA      A     110    SUB1     40
3     4     1004  RUSHI     A+     130    SUB1     50
4     5     1005    DEV      B     100    SUB1     50
5     1     1001  MYTHS      B     100    SUB2     50
6     2     1002    RAM      C      50    SUB2     20
7     3     1003   SITA      A     110    SUB2     70
8     4     1004  RUSHI     A+     130    SUB2     80
9     5     1005    DEV      B     100    SUB2     50

1.The melt() function takes the specified columns in id_vars and 'unpivots' the specified columns in value_vars, resulting in  a longer format DataFrame where the specified 'value' columns are combined, and a new column ('Subject') indicates the source of those values.       
2.After applying melt(), this row would be transformed into two rows in the reshaped.           
3.Here reshaping allows for easier comparison and analysis of scores for different subjects across different students.

# DATA AGGREGATION   
  --->It focus on join two dataframes.    
    by using the concat() we can perform this operation.         
    pd.concat([DataFrame1,DataFrame2])

In [16]:
print(pd.concat([DF,df1])) # here we are getting the output in a single coloumn after aggregating(combine).

   S.NO     NAME  STUDY
0     1    MYTHS  BTECH
1     2      RAM  MTECH
2     3     SITA    MBA
3     4    RUSHI    MCA
4     5      DEV    DIP
0     1      Sri    CEO
1     2     NANI    CSO
2     3    MADHU    CGO
3     4  CHANDHU    CTO
4     5   NANDHU    CLO

# DATA GROUPING  
  ---> It is a Process of Make a Group based on some condition from Data in DataSet.      
       here we use the method:               
       pd.groupby('Field_Name')

In [20]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
x=df.groupby('Grades')
print(x)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001CF1875A280>

In [23]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print("-----------data grouping----------------------------")
print("\n")
x=df.groupby('Grades')
print(x.get_group('B'))

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


-----------data grouping----------------------------


   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
4     5     1005    DEV    50    50      B     100