# DATA CLEANING or HANDLING MISSING VALUES
   -----> A data cleaning is a process of Remove or Replace the NaN values which are

1.EMPTY CELL           
2.WRONG FORMAT      
3.WRONG DATA      
4.REMOVE DUPLICATES.

# Empty cell                         
   ----> when a cell contains NAN value.             
    and here we 2 methods to check a cell is empty or not. 
    
     1. ".isnull()"   --->True if it is, if not it returns False     
        
     2. ".notnull()"   ---->NaN -->True, it is False

In [19]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print("-------------------------.isnull()-------------")
print(df.isnull())
print("\n")
print("-------------------------.isnull() with sum()-------------")
print(df.isnull().sum())
print("\n")
print("-------------------------.isnull() along with sum and mean() values-------------")
print(df.isnull().sum().mean())
print("\n")
print("-------------------------.notnull()-------------")
print("\n")
print(df.notnull())

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


-------------------------.isnull()-------------
    S.NO  ROLL NO   NAME   SUB1   SUB2  Grades  RESULT
0  False    False  False  False  False   False   False
1  False    False  False  False  False   False   False
2  False    False  False  False  False   False   False
3  False    False  False  False  False   False   False
4  False    False  False  False  False   False   False


-------------------------.isnull() with sum()-------------
S.NO       0
ROLL NO    0
NAME       0
SUB1       0
SUB2       0
Grades     0
RESULT     0
dtype: int64


-------------------------.isnull() along with sum and mean() values-------------
0.0


-------------------------.notnull()-------------


   S.NO  ROLL NO  NAME  SUB1  SUB2  Grades  RESULT
0  True     True  True  True  True    True    True
1  True     True  True  True  True    True    True
2  True     True  True  True  True    True    True
3  True     True  True  True  True    True    True
4  True     True  True  True  True    True    True

# Wrong Fotmat

In [3]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,cs,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
 # here cs which is wrong format data and not an integer which is wrong data so we get an error.

NameError: name 'cs' is not defined

In [5]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print(" --------------sum of sub1--------")
print(df['SUB1'].sum())

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS    50    50      B     100
1     2     1002    RAM    30    20      C      50
2     3     1003   SITA    40    70      A     110
3     4     1004  RUSHI    50    80     A+     130
4     5     1005    DEV    50    50      B     100


 --------------sum of sub1--------
220

In [18]:
# here we are there is a nan empty values
import pandas as pd
import numpy as np
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,np.nan,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print(" --------------sum of sub1--------")
print(df['SUB1'].sum())

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA   NaN    70      A     NaN
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------sum of sub1--------
180.0

# Wrong Data
  we can treat it as a MIS-MATCHED DATA             
  here we 2 methods are:  
  
  1.dropna() --->it will drop NaN values from the rows  
  
  2.fillna()               
  
       (i) fillna(method='pad')  --->previous value            
       (ii) fillna(method='bfill')   ---->next value added to null  
       
       
  example:
  Max Marks =100          
  Marks =105  --------->which is a wrong data or value obtained.

In [10]:
import pandas as pd
import numpy as np
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,np.nan,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print(" --------------dropna()--------")   # which will drop the NaN row by deleting it.
print(df.dropna())
print("\n")
print(" --------------fillna()--------") # to fill the empty places of NaN we use to replace that value by assigning the specific value to it. 
print(df.fillna(10))
print("\n")
print(" --------------filna(method='pad')--------")  # it will fill the Nan value as we seen below 30 is taken.
print(df.fillna(method='pad'))
print("\n")
print(" --------------filna(method='bfill')--------") #it will fill next value as we seen below 50 is  taken.
print(df.fillna(method='bfill'))

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA   NaN    70      A     NaN
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------dropna()--------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------fillna()--------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA  10.0    70      A    10.0
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------filna(method='pad')--------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA  30.0    70      A    50.0
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------filna(method='bfill')--------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA  50.0    70      A   130.0
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0

# Remove Duplicates
  it is a Process of Removing Duplicate values from Dataset.          
  here we use 2 methods :              
    1. duplicated()                
    2. drop_duplicates(inplace=True)

In [16]:
import pandas as pd
import numpy as np
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,np.nan,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
df['RESULT']=df['SUB1']+df['SUB2']
print(df)
print("\n")
print(" --------------duplicated()--------")
print(df.duplicated())
print("\n")
# once we identified the duplicates then we need to dropitby using 
print(" --------------drop duplicates()--------")
df.drop_duplicates(inplace=True)
print("\n")
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA   NaN    70      A     NaN
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0


 --------------duplicated()--------
0    False
1    False
2    False
3    False
4    False
dtype: bool


 --------------drop duplicates()--------


   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades  RESULT
0     1     1001  MYTHS  50.0    50      B   100.0
1     2     1002    RAM  30.0    20      C    50.0
2     3     1003   SITA   NaN    70      A     NaN
3     4     1004  RUSHI  50.0    80     A+   130.0
4     5     1005    DEV  50.0    50      B   100.0