# ROW SELECTION

we select a row based on index value by using -->loc[] by passing values in it.

In [5]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B

In [8]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print("----------------------------------------------")
print("--ROW SELECTION-----")
print(df.loc[4])
print("\n")
print("---To get two or more values as per the index -----")
print(df.loc[3],df.loc[4])

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
----------------------------------------------
--ROW SELECTION-----
S.NO          5
ROLL NO    1005
NAME        DEV
SUB1         50
SUB2         50
Grades        B
Name: 4, dtype: object


---To get two or more values as per the index -----
S.NO           4
ROLL NO     1004
NAME       RUSHI
SUB1          50
SUB2          80
Grades        A+
Name: 3, dtype: object S.NO          5
ROLL NO    1005
NAME        DEV
SUB1         50
SUB2         50
Grades        B
Name: 4, dtype: object

# ROW ADDITION
WE USE loc [] FOR ADDING ROW VALUES.

In [33]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print("----------------------------------------------")
print("----ROW ADDITION-----")
df.loc[5]=[6,1006,'SRIKALA',60,80,'A+']
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
----------------------------------------------
----ROW ADDITION-----
   S.NO  ROLL NO     NAME  SUB1  SUB2 Grades
0     1     1001    MYTHS    50    50      B
1     2     1002      RAM    30    20      C
2     3     1003     SITA    40    70      A
3     4     1004    RUSHI    50    80     A+
4     5     1005      DEV    50    50      B
5     6     1006  SRIKALA    60    80     A+

# ROW DELETION  
we use to delete a row by using the     
"drop(index)"

In [36]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print(df.count())
print("\n")
print("----------------------------------")
print("----ROW DELETION--------")
print(df.drop(4))

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
S.NO       5
ROLL NO    5
NAME       5
SUB1       5
SUB2       5
Grades     5
dtype: int64


----------------------------------
----ROW DELETION--------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+

# ReIndexing
Re-assign the index values which are Already Assigned

TYPES OF REINDEXING ARE    
1.ROW REINDEXING    
2.COLUMKN INDEXING

# ROW INDEXING  
Where we reassign the index of each row by specifying the new index values with keyword--->index[values].

In [29]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds,index=['i','ii','iii','iv','v']) 
# here we get the output as "NaN" as values in output because the index we are reassigning doesn't know to assign where for all each row without specifying to each.
print()
print(df)

     S.NO  ROLL NO NAME  SUB1  SUB2 Grades
i     NaN      NaN  NaN   NaN   NaN    NaN
ii    NaN      NaN  NaN   NaN   NaN    NaN
iii   NaN      NaN  NaN   NaN   NaN    NaN
iv    NaN      NaN  NaN   NaN   NaN    NaN
v     NaN      NaN  NaN   NaN   NaN    NaN

In [20]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5],index=[101,102,103,104,105]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005],index=[101,102,103,104,105]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV'],index=[101,102,103,104,105]),
    'SUB1':pd.Series([50,30,40,50,50],index=[101,102,103,104,105]),
    'SUB2':pd.Series([50,20,70,80,50],index=[101,102,103,104,105]),
   'Grades':pd.Series(['B','C','A','A+','B'],index=[101,102,103,104,105])}
df=pd.DataFrame(ds)
print(df)           # here we are reassigning the indexes of each row with new index values of same.

     S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
101     1     1001  MYTHS    50    50      B
102     2     1002    RAM    30    20      C
103     3     1003   SITA    40    70      A
104     4     1004  RUSHI    50    80     A+
105     5     1005    DEV    50    50      B

In [30]:
#here to remove those nan valuesw we go with shallow copy to duplicate the original by its reference values.
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5],index=[101,102,103,104,105]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005],index=[101,102,103,104,105]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV'],index=[101,102,103,104,105]),
    'SUB1':pd.Series([50,30,40,50,50],index=[101,102,103,104,105]),
    'SUB2':pd.Series([50,20,70,80,50],index=[101,102,103,104,105]),
   'Grades':pd.Series(['B','C','A','A+','B'],index=[101,102,103,104,105])}
df=pd.DataFrame(ds)
sc=df.copy(deep=False)
x=sc.reindex([101,102,103,104,105]) # re assigning the new indexes where we given each values to be represent.
print(x)

     S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
101     1     1001  MYTHS    50    50      B
102     2     1002    RAM    30    20      C
103     3     1003   SITA    40    70      A
104     4     1004  RUSHI    50    80     A+
105     5     1005    DEV    50    50      B

# COLUMN INDEXING   
here we are rearraging the columns by re assigning their respective column names in such a way as per the data needs.

In [21]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5],index=[101,102,103,104,105]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005],index=[101,102,103,104,105]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV'],index=[101,102,103,104,105]),
    'SUB1':pd.Series([50,30,40,50,50],index=[101,102,103,104,105]),
    'SUB2':pd.Series([50,20,70,80,50],index=[101,102,103,104,105]),
   'Grades':pd.Series(['B','C','A','A+','B'],index=[101,102,103,104,105])}
df=pd.DataFrame(ds)
print(df)
print("-------------------------------------------------")
print(df.reindex(['ROLL NO','NAME','S.NO'],axis='columns'))

     S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
101     1     1001  MYTHS    50    50      B
102     2     1002    RAM    30    20      C
103     3     1003   SITA    40    70      A
104     4     1004  RUSHI    50    80     A+
105     5     1005    DEV    50    50      B
-------------------------------------------------
     ROLL NO   NAME  S.NO
101     1001  MYTHS     1
102     1002    RAM     2
103     1003   SITA     3
104     1004  RUSHI     4
105     1005    DEV     5

# DESCRIBE()

In [23]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print("------------- ----Describe()----------------------")
print(df.describe())

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
------------- ----Describe()----------------------
           S.NO      ROLL NO       SUB1       SUB2
count  5.000000     5.000000   5.000000   5.000000
mean   3.000000  1003.000000  44.000000  54.000000
std    1.581139     1.581139   8.944272  23.021729
min    1.000000  1001.000000  30.000000  20.000000
25%    2.000000  1002.000000  40.000000  50.000000
50%    3.000000  1003.000000  50.000000  50.000000
75%    4.000000  1004.000000  50.000000  70.000000
max    5.000000  1005.000000  50.000000  80.000000

# head()    
which returns top of the values 
and here we can pass the value in the funtion of head() from where to where the data to get from top to bottom from specified index positions.

In [24]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print("------------- ----head()----------------------")
print(df.head(3))

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
------------- ----head()----------------------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A

# tail()    
which will give the output from bottom to top

In [27]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50]),
   'Grades':pd.Series(['B','C','A','A+','B'])}
df=pd.DataFrame(ds)
print(df)
print("------------- ----tail()----------------------")
print(df.tail())
print("\n")
print("-------------------tail() with value -----------")
print(df.tail(4))

   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
------------- ----tail()----------------------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B


-------------------tail() with value -----------
   S.NO  ROLL NO   NAME  SUB1  SUB2 Grades
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B