# Create a copy of Original Dataset   
  ---> when you are performing Operations on Dataset,If there is no copy then the original Data will be Modified.If the Original Data will be Modified .There is no Security to data in Dataset.

# We Create copy of Original Dataset in Two Ways
1.Shallow Copy      
       -->creates a reference of Original Data Set(like 5-address is reference here for the value which is copied as another with           the reference value).   
2.Deep Copy ---> Directly Original Data will be Copied.

In [3]:
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50])}
df=pd.DataFrame(ds)
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50

In [5]:
#Shallow copy
sc=df.copy(deep=False) # because here in shallow it doesnot copy irectly thats why it should be specify False.
print(sc)

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50

In [6]:
#Deep Copy
dc=df.copy(deep=True) #here it copy original value directly without pointing its reference values to Copy.
print(dc)

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50

# ATTRIBUTES OF DATA ARE
1.size   
2.shape   
3.info()   
4.index   
5.memory_usage()  
6.ndim

In [7]:
#Size
print(dc.size) # row x column value

25

In [8]:
#shape
print(dc.shape) # indicating no.of rows,column

(5, 5)

In [12]:
#info
print(dc.info()) # overall details of the data frame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     5 non-null      int64
 1   ROLL NO  5 non-null      int64
 2   NAME     5 non-null      object
 3   SUB1     5 non-null      int64
 4   SUB2     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes
None

In [13]:
#index
print(sc.index) # here including end +1(start=0, stop=5, step=1)

RangeIndex(start=0, stop=5, step=1)

In [14]:
#memory_usage
print(dc.memory_usage())

Index      128
S.NO        40
ROLL NO     40
NAME        40
SUB1        40
SUB2        40
dtype: int64

In [15]:
#ndim
print(dc.ndim) #(rxc=2-->rows and columns specification of which dimension).

2

# Operations on DataSet
1.Selection  
2.Addition  
3.Deletion     
--->here we need to perform column and row operations.

In [16]:
print(sc)

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50

In [19]:
# Column Selection
print(df['NAME'])

0    MYTHS
1      RAM
2     SITA
3    RUSHI
4      DEV
Name: NAME, dtype: object

In [20]:
#Column Addition
import pandas as pd
ds={'S.NO':pd.Series([1,2,3,4,5]),
    'ROLL NO':pd.Series([1001,1002,1003,1004,1005]),
    'NAME':pd.Series(['MYTHS','RAM','SITA','RUSHI','DEV']),
    'SUB1':pd.Series([50,30,40,50,50]),
    'SUB2':pd.Series([50,20,70,80,50])}
df=pd.DataFrame(ds)
print(df)
print("********************")
df['GRADES']=pd.Series(['B','C','A','A+','B'])
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50
********************
   S.NO  ROLL NO   NAME  SUB1  SUB2 GRADES
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B

In [21]:
#column deletion
#it can be done in 2 ways 1.using del  2.using pop
print(df)
del df['GRADES']
print("------------------------")
print(df)

   S.NO  ROLL NO   NAME  SUB1  SUB2 GRADES
0     1     1001  MYTHS    50    50      B
1     2     1002    RAM    30    20      C
2     3     1003   SITA    40    70      A
3     4     1004  RUSHI    50    80     A+
4     5     1005    DEV    50    50      B
------------------------
   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50

In [22]:
# using pop 
print(df)
print("-------------------------------------")
df.pop('S.NO')
print(df)
# here there is difference in del method we specify in [] to delete and coming pop we use () with single quotation to delete the values in column.

   S.NO  ROLL NO   NAME  SUB1  SUB2
0     1     1001  MYTHS    50    50
1     2     1002    RAM    30    20
2     3     1003   SITA    40    70
3     4     1004  RUSHI    50    80
4     5     1005    DEV    50    50
-------------------------------------
   ROLL NO   NAME  SUB1  SUB2
0     1001  MYTHS    50    50
1     1002    RAM    30    20
2     1003   SITA    40    70
3     1004  RUSHI    50    80
4     1005    DEV    50    50